<configuration>
  <appSettings>
    <add key="TestKey" value="Testing my config 1234!" />    
    <add key="FrontFolder" value="D:\_RESIBO\RawImageFolder1" />     
    <!--<add key="FrontFolder" value="\\10.10.0.5\ocr" />-->     
    
    <add key="DumpFolder" value="D:\_RESIBO\Dump" />      
    <add key="BaiRocsExe" value="D:\_RESIBO\ProjectResiboAzure\BaiRocs3\BaiRocks\bin\Debug20\BaiRocs.exe" />      


  </appSettings>
</configuration>
