<configuration>
  <appSettings>
    <add key="TestKey" value="Testing my config 1234!" />    
    <add key="RawImageFolder" value="D:\_RESIBO\RawImageFolder" />   
     <add key="AzureOCRKey" value="a79807f94b604d38acb42a596cbd4adb" />   
     <add key="AutoDeleteImage" value="0" />   
 

  </appSettings>
</configuration>
