<configuration>
  <appSettings>
    <add key="TestKey" value="Testing my config 1234!" />    
    <add key="RawImageFolder" value="D:\_RESIBO\Dump" />
    <add key="AzureOCRKey" value="9087b293eeeb4936ae3d506c255bdebd" />
    <add key="AutoDeleteImage" value="0" />
    <add key="FrontFolder" value="D:\_RESIBO\RawImageFolder1" />



  </appSettings>
</configuration>
